---
import "../styles/global.css"
import NavMenu from "../components/NavMenu.astro"
import Footer from "../components/Footer.astro"
import SEO from "../components/SEO.astro"

interface Props {
  title: string
  description?: string
  image?: string
  showNav?: boolean
  showFooter?: boolean
  canonicalURL?: string
  type?: string
}

const {
  title,
  description = "Nate Young's personal website",
  image,
  showNav = true,
  showFooter = true,
  canonicalURL = Astro.url.pathname,
  type,
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <SEO
      title={title}
      description={description}
      image={image}
      canonicalURL={canonicalURL}
      type={type}
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <!-- Google Fonts for Poppins, Open Sans, and Fira Code -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Open+Sans:wght@400;600&family=Poppins:wght@400;600;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body class='min-h-screen bg-dark-bg text-white'>
    <div class='max-w-6xl mx-auto px-4 py-8 flex flex-col min-h-screen'>
      {showNav && <NavMenu />}

      <main class='flex-grow'>
        <slot />
      </main>

      {showFooter && <Footer />}
    </div>
  </body>
</html>
